html {
  font-family:  'Inter', sans-serif;
}

body {
  background-color: #efefef;
}
h1 {
  color: #e60023c0;
}

.container-form {
  color: rgba(94, 90, 90, 0.753);
  padding: 7rem;
  background-color: #ffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5%;
}

.title-area {
  font-weight: 500;
  line-height: 1.5;
}

.content-area {
  font-weight: 500;
  line-height: 2;
  width: 30rem;
}

.image-area {
  font-weight: 500;
  line-height: 1.5;
}
.form-control {
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(187, 207, 187, 0.055);
}

.form-control:focus {
  color: rgba(0, 0, 0, 0.534);
  border-color: #7e7e7e0a;
  box-shadow: 0 0 0 0.25rem #63636313;
  background-color: rgba(187, 207, 187, 0.055);
}

.submit-button {
  background-color: #e60023f5;
  color: white;
  margin-top: 1rem;
  width: 100%;
  font-size: 1.2rem;
  border-radius: 3rem;
}
.submit-button:hover,.submit-button:active{
  background-color: #e60023c5;
  color: #fff;
}
@media only screen and (max-width: 800px) {
  .container-form {
    padding: 5rem;
  }
  .content-area {
    width: 20rem;
  }
}

@media only screen and (max-width: 500px) {
  .container-form {
    padding: 2rem;
  }
  .title-area {
    font-size: 1rem;
  }
  .content-area {
    width: 15rem;
    font-size: 0.8rem;
  }
  .image-area {
    font-size: 1rem;
  }
  .submit-button {
    font-size: 1rem;
  }
}
