html {
  font-family:  'Inter', sans-serif;
}
/* head section */

.heading-section {
background-color:#e60023d8;
 font-style: bold;
 color: #fff;
}
/* "navbar */
.navbar{
  border-radius: 2rem ;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.search-box{
  border-radius: 2rem;

  
}



/* buttons */

.btn-design {
  background-color: #e60023f5;
  color: #fff;
  border-radius: 2rem;
}

.btn-design:hover,
.btn-design:active {
  background-color: #e60023c5;
  color: #fff;
}
.btn-pagination {
  font-weight: 500;
  border: none;
  color: #6b7177fa;
}

.btn-pagination:hover,
.btn-pagination:active {
  border: none;
  color:#e60023c2 ;
  cursor: pointer;
}
.page-link,.page-link:focus{
  background-color: none;
  
}

/* cards  */

.card-design {
  background-color: #fbf7ed;
}

.card-link {
 
  text-decoration: none;
}
.card-link:hover,
.card-link:active {
  color:#e60023c2;

}



.card {
  background-color: #fff;
  box-shadow: 0 0 0 0.25rem #63636309;
  border-radius: 2rem;
}
.card-img{
 border-radius: 2rem 2rem 0 0 ; 
}
